<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AirAPPSharePlugin.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CRM URosario.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD09634D1DCC01EC006E4E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD0963611DCC01ED006E4E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD09636C1DCC01ED006E4E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD09FE861DD001D2009A6672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
